.chat-room {
	cursor: default;
	position: absolute;
	top: 5%;
	right: 1%;
	left: 1%;
	bottom: 3%;
	margin: 0;
	overflow: hidden;
	background: white;
	box-shadow: 0px 3px 15px #c0e1ffc9;
	border-radius: 2%;
	-webkit-touch-callout: none;
	/* iOS Safari */
	-webkit-user-select: none;
	/* Chrome/Safari/Opera */
	-khtml-user-select: none;
	/* Konqueror */
	-moz-user-select: none;
	/* Firefox */
	-ms-user-select: none;
	/* IE/Edge */
	user-select: none;
}

.chat-room * {
	transition: all .5s;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.chat-room ::-webkit-scrollbar {
	width: 5px;
	height: 1px;
	transition: all .5s;
	z-index: 10;
}

.chat-room ::-webkit-scrollbar-track {
	background-color: white;
}

.chat-room ::-webkit-scrollbar-thumb {
	background-color: #bec4c8;
	border-radius: 3px;
}

.message-window {
	display: block;
	overflow-x: hidden;
	overflow-y: scroll;
	position: relative;
	height: 90%;
	width: 100%;
	padding: 2% 3%;
	border-bottom: 1px solid #ecf0f1;
}

/* .info {
	box-sizing: border-box;
	background: whitesmoke;
	height: 50px;
	width: 100%;
	display: flex;
	padding: 0 5px;
	justify-content: space-between;
}

.info span,
.info p {
	align-self: center;
}
.info span {
	color: #0099ff;
}
.info p {
	margin: 0;
	font-weight: bold;
}
.info .contact {
	margin-left: -30px;
} */

/*
	form styles
*/
/* form.message-form input {
	font: 400 13px 'Open Sans', sans-serif;
	border: 0;
	padding: 0 15px;
	height: 10%;
	outline: 0;
}

form.message-form input[type='text'] {
	width: 73%;
	float: left;
}

form.message-form input[type='submit'] {
	width: 23%;
	background: transparent;
	color: rgb(0, 122, 255);
	font-weight: 700;
	text-align: right;
	float: right;
}

form.message-form {
	height: 100%;
} */

/* a.article {
	position: fixed;
	bottom: 15px;
	left: 15px;
	display: table;
	text-decoration: none;
	color: white;
	background-color: rgb(0, 122, 255);
	padding: 10px 20px;
	border-radius: 25px;
	font: 400 15px 'Open Sans', sans-serif;
} */

/* @-moz-keyframes loading-bar {
	0% {
		width: 0%;
	}
	90% {
		width: 90%;
	}
	100% {
		width: 100%;
	}
}

@-webkit-keyframes loading-bar {
	0% {
		width: 0%;
	}
	90% {
		width: 90%;
	}
	100% {
		width: 100%;
	}
}

@keyframes loading-bar {
	0% {
		width: 0%;
	}
	90% {
		width: 90%;
	}
	100% {
		width: 100%;
	}
} */
